<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  >
    <a
      href="/"
      class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
    >
      <img
        src="https://img.freepik.com/free-vector/flower-logo-luxury-gradient-design-illustration_483537-1451.jpg?size=338&ext=jpg&ga=GA1.1.1448711260.1706400000&semt=ais"
        alt="Mô tả về logo"
        width="90px"
        height="90px"
      />
      <span> Orchids </span>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
      <li>
        <a href="/orchids/landing" class="nav-link px-2 link-dark">Orchids</a>
      </li>
      <li><a href="/orchids" class="nav-link px-2 link-dark">Dasboard</a></li>
      <li><a href="/accounts" class="nav-link px-2 link-dark">User</a></li>
    </ul>

    <div class="col-md-3 text-end"></div>
  </header>
</div>
